@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateBurger {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}
body {
	display: flex;
	flex-direction: column;
	background-color: #3b0764;
}

header.visable {
	top: 0;
}

header.hidden {
	top: -100%;
}
.animate-burgerRotate {
	transform-origin: center;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-in-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-down {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
.test {
	animation-timeline: scroll();
}
@keyframes text-test {
	0% {
		background-color: white;
		transform: scale(0%);
	}
	50% {
		background-color: green;
		transform: scale(100%);
	}
	100% {
		background-color: white;
		transform: scale(0%);
	}
}
