@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateBurger {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}
body {
	display: flex;
	flex-direction: column;
	background-color: #3b0764;
}

header.visable {
	top: 0;
}

header.hidden {
	top: -100%;
}
.animate-burgerRotate {
	transform-origin: center;
}
